###Group Members
Hasan Ahmed 321600 \
Muhammad Hassaan 288203 \
Abdullahi Ali 324977 \
Kainat Agha 304512

###Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest, mutual_info_classif
from sklearn.metrics import accuracy_score
from  sklearn.model_selection  import  train_test_split 
from  sklearn.neural_network  import  MLPClassifier 
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
from sklearn.metrics import confusion_matrix

###Reading Data

In [2]:
data = pd.read_csv("C:\\Users\\hasan\\Downloads\\ml\\Credit_Card_Fraud_Detection_Dataset.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

###Setting the dependent and independent variables

In [3]:
X = data.drop(['Class'], axis=1)
y = data['Class']

###Undersampling Data

In [4]:
undersample = RandomUnderSampler(sampling_strategy='majority')
X_undersample, y_undersample = undersample.fit_resample(X, y)
Counter(y_undersample)

Counter({0: 492, 1: 492})

###Oversampling Data

In [5]:
oversample = RandomOverSampler(sampling_strategy='minority')
X_oversample, y_oversample = oversample.fit_resample(X, y)
Counter(y_oversample)

Counter({0: 284315, 1: 284315})

###Feature Selection using oversampled data (10 best features)

In [6]:
X_oversample_after_feature_selection = SelectKBest(k=10, score_func=mutual_info_classif).fit_transform(X_oversample, y_oversample)
X_oversample_after_feature_selection

array([[  2.53634674,   1.37815522,   0.36378697, ...,  -0.47040053,
          0.20797124,   0.02579058],
       [  0.16648011,   0.44815408,  -0.25542513, ...,   0.46391704,
         -0.11480466,  -0.18336127],
       [  1.77320934,   0.37977959,  -1.51465432, ...,  -2.89008319,
          1.10996938,  -0.12135931],
       ...,
       [  0.39468433,   3.17025757,   0.86004362, ...,   0.33564217,
          2.29899822,  -0.16209621],
       [ -3.51340796,   3.17505971,  -0.80200523, ...,  -2.50204942,
         -4.46049463,  -0.87052575],
       [-24.64381878,   6.23253182,  -3.87129682, ...,  -6.45478324,
        -12.84565652,  -4.86591774]])

###Spliting data into training and testing sets

In [35]:
X_train_over ,  X_test_over ,  y_train_over ,  y_test_over  =  train_test_split  ( X_oversample_after_feature_selection, y_oversample ,  test_size  =  0.3)

###Training Model (final model)

In [66]:
MLPC = MLPClassifier ( activation='tanh', learning_rate_init = 0.001, hidden_layer_sizes = (200 ,),  max_iter = 2000 ) 
MLPC.fit( X_train_over ,  y_train_over )
MLPC.score(X_train_over ,  y_train_over)

0.9998090648953248

###Testing Model

In [75]:
y_pred = MLPC.predict(X_test_over) 
accuracy_score(y_pred = y_pred, y_true = y_test_over)

0.9995486227130705

###Confusion Matrix

In [76]:
confusion_matrix(y_test_over, y_pred, labels=[0, 1])

array([[85004,    77],
       [    0, 85508]], dtype=int64)